@font-face {
  font-family: primaryFont;
  src: url("../font/Lugos-Regular.otf");
}

.hide {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

* {
	margin: 0em;
	padding: 0em;
	font-family: primaryFont, Verdana;
}

strong {
	font-weight: normal;
}

/* HEADER */

header {
	background-color: #0060b6;
	padding-top: 2%;
	padding-bottom: 2%;
}

#logo {
	display: block;
	float: left;
	margin-left: 2%;
	font-size: 2em;
	color: white;
	margin-bottom: 3%;
}

#mobileMenu {
	background-color: white;
	float: right;
	width: 32px;
	height: auto;
	border: none;
	border-radius: 0.25em;
	margin-top: 2%;
	margin-right: 2%;
	text-align: center;
	cursor: pointer;
}

.showButton {
	display: block;
}

.hideButton {
	display: none;
}

#mobileMenu span {
	display: block;
	margin: 0.31em 0.5em 0.31em 0.5em;
	border: 1px solid #0060b6;
}

nav {
	width: 100%;
	display: block;
	clear: both;
	text-align: center;
}

.hideNav {
	height: 0em;
	overflow: hidden;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: block;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-size: 0.9em;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	text-decoration: underline;
}

.here {
	font-weight: bold;
	color: lightgray;
}

/* LOGIN */

#whyAccount {
	width: 94%;
	margin-top: 5%;
	margin-left: 3%;
	font-size: 0.92em;
}

#whyAccount p {
	margin-bottom: 2%;
}

#whyAccount ul {
	margin-left: 5%;
	width: 93%;
}

#user_login {
	width: 100%;
	text-align: center;
	margin-top: 5%;
	background-color: lightgray;
	background-image: url('../image/background.jpg');
	background-size: 100%;
}

#user_login fieldset {
	border: none;
}

#user_login legend {
	height: 0em;
	overflow: hidden;
}

#user_login label {
	display: block;
	margin-top: 3%;
}

#user_login input[type="text"] {
	padding: 0.5em;
	width: 60%;
	font-size: 0.8em;
	text-align: center;
}

#user_login input[type="password"] {
	padding: 0.5em;
	width: 60%;
	font-size: 0.8em;
	text-align: center;
}

#user_login input[type="submit"] {
	display: block;
	width: 64%;
	padding: 0.7em;
	margin: 5% 0% 5% 18%;
	background-color: #8b0000;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
}

#user_login input[type="submit"]:hover {
	background-color: #9d0404;
}

/* REGISTRATION */

#registrationDescription {
	width: 94%;
	margin-top: 5%;
	margin-left: 3%;
	font-size: 0.92em;
}

#registrationDescription p {
	margin-top: 2%;
}

#user_registration {
	width: 100%;
	text-align: center;
	margin-top: 5%;
	background-color: lightgray;
	background-image: url('../image/background.jpg');
	background-size: 100%;
}

#user_registration fieldset {
	border: none;
}

#user_registration legend {
	height: 0em;
	overflow: hidden;
}

#user_registration label {
	display: block;
	margin-top: 3%;
}

#user_registration input[type="text"] {
	padding: 0.5em;
	width: 60%;
	font-size: 0.8em;
	text-align: center;
}

#user_registration input[type="password"] {
	padding: 0.5em;
	width: 60%;
	font-size: 0.8em;
	text-align: center;
}

#user_registration input[type="submit"] {
	display: block;
	width: 64%;
	padding: 0.7em;
	margin: 5% 0% 5% 18%;
	background-color: #8b0000;
	color: white;
	font-weight: bold;
	font-size: 0.8em;
	border: none;
	border-radius: 0.3em;
	cursor: pointer;
}

#user_registration input[type="submit"]:hover {
	background-color: #9d0404;
}

/* CONTACTS */

#contactsDescription {
	width: 94%;
	margin-top: 5%;
	margin-left: 3%;
	font-size: 0.92em;
}

#contactsDescription p {
	margin-top: 2%;
}

#socialContacts {
	width: 100%;
	text-align: center;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: lightgray;
	background-image: url('../image/background.jpg');
	background-size: 100%;
}

.socialContact {
	display: inline-block;
	width: 94%;
	margin: 3% 3% 5% 3%;
	background-color: white;
	overflow: auto;
	position: relative;
}

.socialContact img {
	width: 3em;
	float: left;
	position: absolute;
	left: 3%;
	top: 30%;
	bottom: 30%;
}

.socialContact h2 {
	font-size: 1.25em;
	margin-top: 2%;
	margin-bottom: 2%;
	font-weight: normal;
	color: #8b0000;
}

.socialContact div {
	margin-right: 0.75em;
	margin-left: 4.5em;
}

.socialContact p {
	font-size: 0.85em;
}

.socialContact a {
	display: block;
	margin-top: 4%;
	margin-bottom: 3%;
}

/* INDEX */

#intro {
	width: 94%;
	margin-top: 5%;
	margin-left: 3%;
	font-size: 0.92em;
}

#features {
	background-color: lightgray;
	background-image: url('../image/background.jpg');
	background-size: 100%;
	margin-top: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.info {
	display: inline-block;
	width: 96%;
	margin: 3% 2%;
	background-color: white;
}

.info h2 {
	display: block;
	width: 94%;
	font-size: 1.15em;
	text-align: center;
	font-weight: normal;
	margin-top: 4%;
	margin-left: 3%;
}

.info img { 
	width: 70%;
	margin: 4% 15%;
}

.info h3 {
	font-size: 1.2em;
	color: #8b0000;
	font-weight: normal;
}

.info p {
	font-size: 0.92em;
	margin-bottom: 3%;
}

.info dl {
	font-size: 0.92em;
}

.info dl dt {
	font-weight: bold;
}

.info dl dt strong {
	font-weight: bold;
}

.info dl dd {
	margin-bottom: 3%;
}

.hideMoreInfo {
	display: none;
}

.showMoreInfo {
	display: block;
	color: blue;
	text-decoration: none;
}

.info a {
	text-align: center;
	margin-bottom: 4%;
}

.info div {
	width: 94%;
	margin-left: 3%;
	margin-bottom: 5%;
}

/* USE CASE */

#viewAllUCDescription {
	width: 94%;
	margin-top: 5%;
	margin-left: 3%;
	font-size: 0.92em;
}

#viewAllUCDescription p {
	margin-bottom: 2%;
}

#search_UC {
	width: 94%;
	margin: 5% 3%;
	text-align: center;
}

#search_UC fieldset {
	border: none;
}

#search_UC legend {
	height: 0em;
	overflow: hidden;
}

#search_UC label {
	display: none;
}

#search_UC input[type="text"] {
	width: 70%;
	font-size: 0.8em;
	padding: 0.5em;
	border: 0.1em solid lightgray;
}

#search_UC input[type="submit"] {
	background-color: white;
	background-image: url('../image/search.png');
	background-size: 100% 100%;
	width: 2.5em;
	padding: 0.5em 0em;
	border: none;
}

/* Tabella responsive */

#allUC {
	width: 100%;
	margin-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 0.9em;
	background-color: lightagray;
	background-image: url('../image/background.jpg');
	background-size: 100%;
}

#allUC thead, tbody, th, td, tr {
	display: block;
}

#allUC tr {
	border: 0.1em solid black;
	border-collapse: collapse;
	margin: 4% 0%;
}

#allUC thead tr {
	position: absolute;    /* Nascondiamo la testata */
  top: -9999px;
  left: -9999px;
}

#allUC td {
	position: relative;		/* Creiamo lo spazio per l'intestazione */
	border: 0em;
	padding: 2% 0% 2% 30%;
}

#allUC td:before {
	position: absolute;		/* Creiamo le altre celle per la descrizione */
	top: 0.8em;
	left: 0%;
	width: 30%;
	line-height: 0em;
	text-align: center;
	padding: 2% 0%;
}

#allUC td:nth-of-type(1):before {
	content: "Codice";
	font-weight: bold;
}

#allUC td:nth-of-type(2):before {
	content: "Nome";
	font-weight: bold;
}

#allUC td:nth-of-type(3):before {
	content: "Descrizione";
	font-weight: bold;
}

#allUC td:nth-of-type(4):before {
	content: "Pre";
	font-weight: bold;
}

#allUC td:nth-of-type(5):before {
	content: "Post";
	font-weight: bold;
}

.codUC {
	background-color: #c40000;
	color: white;
}

#noResult {
	text-align: center;
	font-size: 0.92em;
	color: #c40000;
}

/* FOOTER */

footer {
	display: block;
	margin: 2%;
}