
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Elimina tracciamento Use Case Requisiti</title>
		<meta name="title" content="SWEgo - Elimina tracciamento Use Case Requisiti" />
		<meta name="description" content="Elimina il tracciamento tra uno Use Case e i suoi Requisiti." />
		<meta name="keywords" content="SWEgo, Use Case, Requisiti, Elimina, Tracciamento" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.php"><h1 id="logo" lang="en">SWEgo</h1></a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
					<li><a href="contacts.php">CONTATTI</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="viewTracking.php">TRACCIAMENTO</a> &gt; ELIMINA TRACCIAMENTO :id: - :name:</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Rispondi alla domanda e conferma la tua decisione di eliminare o meno il tracciamento dello <span lang="en">Use Case:</span> :id: - :name: con i suoi relativi Requisiti.</p>
				<p class="warning">ATTENZIONE: verr&egrave; eliminato il tracciamento tra lo <span lang="en">Use Case</span> di cui sopra e i Requisiti riportati qui di seguito:</p>
				:requirement:
			</div>
			<form method="post" action="#" id="delete">
				<fieldset form="delete">
					<legend>Eliminare tracciamento :id: - :name:</legend>
					<input type="submit" name="confirm" value="si" />
					<input type="submit" name="confirm" value="no" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
		</footer>
	</body>
</html>
