
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Elimina Use Case</title>
		<meta name="title" content="SWEgo - Elimina Use Case" />
		<meta name="description" content="Elimina uno Use Case." />
		<meta name="keywords" content="SWEgo, Use Case, Elimina" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.html"><h1 id="logo" lang="en">SWEgo</h1></a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.html">PROFILO</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="viewUsecase.php" lang="en">USECASE</a> &gt; ELIMINA :id: - :name:</p>
		</div>
		<div id="content">
			<div id="deleteUC">
				<p>Rispondi alla domanda e conferma la tua decisione di eliminare o meno lo <span lang="en">Use Case:</span> :id: - :name:</p>
				<p class="warning">ATTENZIONE: verranno eliminati anche tutti gli <span lang="en">Use Case</span> figli, le inclusioni e le estensioni riportate qui di seguito:</p>
				:usecase:
			</div>
			<form method="post" action="#" id="delete_UC">
				<fieldset form="delete_UC">
					<legend>Eliminare :id: - :name:</legend>
					<input type="submit" name="confirm" value="si" />
					<input type="submit" name="confirm" value="no" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
		</footer>
	</body>
</html>