
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Elimina Requisito</title>
		<meta name="title" content="SWEgo - Elimina Requisito" />
		<meta name="description" content="Elimina un Requisito." />
		<meta name="keywords" content="SWEgo, Requisito, Elimina" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.php"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
					<li><a href="contacts.php">CONTATTI</a></li>
					<li><a href="donations.php">DONAZIONI</a></li>
					<li><a href="faq.php">F.A.Q.</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="viewRequirement.php">REQUISITI</a> &gt; ELIMINA :id:</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Conferma la tua decisione di eliminare il Requisito: :id: - :name:</p>
				<p class="warning">ATTENZIONE: verranno eliminati anche tutti i Requisiti figli riportati qui di seguito:</p>
				:requirement:
			</div>
			<form method="post" action="#" id="delete">
				<fieldset form="delete">
					<legend>Eliminare :id: - :name:</legend>
					<input type="submit" name="confirm" value="si" />
					<input type="submit" name="confirm" value="no" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
			<a href="mapLogin.html">Mappa del sito</a>
			<img src="image/html5valid.png" class="valid" alt="HTML5 Valid!"/>
			<img src="image/cssvalid.png" class="valid" alt="CSS Valid!"/>
		</footer>
	</body>
</html>
