<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Home</title>
		<meta name="title" content="SWEgo - Home" />
		<meta name="description" content="SWEgo, il sito di tracciamento preferito dagli utenti." />
		<meta name="keywords" content="SWEgo, Tracciamento, Software Engeeniring, SWE" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
		<script src="script/features.js"></script>
	</head>
	<body>
		<header>
			<h1 id="logo" lang="en">SWEgo</h1>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				:menu:
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <span lang="en">HOMEPAGE</span></p>
		</div>
		<div id="content">
			<div id="intro">
				<p><span lang="en">SWEgo</span> offre una moltitudine di funzioni che semplificano e velocizzano il tuo modo di produrre <span lang="en">Software</span>.</p>
			</div>
			<div id="features">
				<div class="info" id="readFeature1">
					<h2>Tracciamento <span lang="en">Use Case</span> - Requisiti</h2>
					<img src="image/tracking.jpg" alt="Descrizione grafica di cos'è il tracciamento" />
					<div id="feature1">
						<h3>Cos'&egrave; uno <strong lang="en">Use Case</strong>?</h3>
						<p>Lo <span lang="en">Use Case</span> &egrave; una tecnica usata in Ingegneria del <span lang="en">Software</span> per effettuare in maniera esaustiva, e non ambigua, la raccolta dei requisiti al fine di produrre <span lang="en">software</span> di qualit&agrave;.</p>
						<h3>Cosa sono i <strong>Requisiti</strong>?</h3>
						<p>I requisiti indicano cosa il sistema deve fare, cioè i servizi che offre e i vincoli sul suo funzionamento. Esistono due tipi di requisito.</p>
						<dl>
							<dt><strong>Requisiti utente</strong></dt>
							<dd>Descrizione in linguaggio naturale dei servizi che il sistema deve fornire e dei vincoli operativi.</dd>
							<dt><strong>Requisiti di sistema</strong></dt>
							<dd>Definizione formale e dettagliata di una funzione del sistema.</dd>
						</dl>
						<p>I requisiti possono essere classificati per la loro diversa utilità strategica.</p>
						<dl>
							<dt><strong>Requisiti obbligatori</strong></dt>
							<dd>Requisiti irrinunciabili che devono essere obbligatoriamente implementati.</dd>
							<dt><strong>Requisiti desiderabili</strong></dt>
							<dd>Requisiti che danno un valore aggiuntivo di interesse al prodotto ma non sono strettamente necessari.</dd>
							<dt><strong>Requisiti opzionali</strong></dt>
							<dd>Requisiti contrattabili in seguito con il cliente. Molte volte, è richiesto un pagamento aggiuntivo per la loro implementazione.</dd>
						</dl>
						<h3>Cos'&egrave; il tracciamento?</h3>
						<p>Il <strong>tracciamento</strong> &egrave; l'incontro tra i bisogni del proponente e dei requisiti.</p>
						<p>Tracciare un requisito significa motivarne l’esistenza, ovvero spiegare qual &egrave; l'origine di tale requisito e garantirne la necessit&agrave; e la sufficienza.</p>
					</div>
					<a href="#readFeature1" class="hideMoreInfo">Premi per saperne di più</a>
				</div>
				<div class="info" id="readFeature2">
					<h2>Generazione automatica dei diagrammi dei Casi d'Uso utilizzando <span lang="en">PlantUML</span></h2>
					<img src="image/plantuml.jpg" alt="Esempio di Use Case" />
					<div id="feature2">
						<h3>Cos'&egrave; uno <strong lang="en">Use Case Diagram</strong>?</h3>
						<p>Si tratta di un diagramma che esprime un comportamento del sistema, offerto o desiderato, sulla base dei suoi risultati osservabili.</p>
						<p>Viene usato per modellare i requisiti funzionali di un sistema.</p>
						<h3>Cos'&egrave; <span lang="en">PlantUML</span>?</h3>
						<p><a href="http://plantuml.com/" lang="en">PlantUML</a> è uno strumento <span lang="en">open-source</span> che permette di creare diagrammi <abbr lang="en" title="Unified Modeling Language">UML</abbr> a partire da un semplice testo.</p>
					</div>
					<a href="#readFeature2" class="hideMoreInfo">Premi per saperne di più</a>
				</div>
				<div class="info" id="readFeature3">
					<h2>Visualizzazione grafici che indicano la copertura dei requisiti</h2>
					<img src="image/pieCharts.jpg" alt="Esempio di grafico a torta" />
					<div id="feature3">
						<h3>Cos'&egrave; la copertura dei requisiti?</h3>
						<p>La copertura dei requisiti &egrave; un indice che rappresenta la quantit&agrave; di requisiti soddisfatti. Un requisito si ritiene soddisfatto quando convalida i test relativi al suo funzionamento.</p>
						<p><span lang="en">SWEgo</span> ti permetter&agrave; di visualizzare le percentuali di copertura dei requisiti in tempo reale grazie a dei semplici grafici a torta.</p>
					</div>
					<a href="#readFeature3" class="hideMoreInfo">Premi per saperne di più</a>
				</div>
			</div>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
			<a href=":map:">Mappa del sito</a>
			<img src="image/html5valid.png" class="valid" alt="HTML5 Valid!"/>
			<img src="image/cssvalid.png" class="valid" alt="CSS Valid!"/>
		</footer>
	</body>
</html>
