
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Classi</title>
		<meta name="title" content="SWEgo - Classi" />
		<meta name="description" content="Inserisci una nuova classe e visualizza le classi inserite." />
		<meta name="keywords" content="SWEgo, Classi, Sistema, SWE, Inserisci, Visualizza" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.php"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" hr ef="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li class="here">ATTORI</li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
					<li><a href="contacts.php">CONTATTI</a></li>
					<li><a href="donations.html">DONAZIONI</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: ATTORI</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Visualizza le classi del tuo sistema ordinante dalla A alla Z. Puoi modificarle, eliminarle o inserirne di nuove.</p>
			</div>
			<div id="actors">
				:actors:
			</div>
			<form name="insert" method="POST" action="insertActor.php" id="insertActor">
				<fieldset form="insertActor">
					<legend>Inserimento attori</legend>
					<label for="name">Nome</label>
					<input id="name" name="name" type="text" value=":name:" required="required" maxlength="100" />
					<label for="description">Descrizione</label>
					<textarea id="description" name="description" required="required" maxlength="1000">:description:</textarea>
					<input type="submit" name="insert" value="INSERISCI" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
			<a href="mapLogin.html">Mappa del sito</a>
			<img src="image/html5valid.png" class="valid" alt="HTML5 Valid!"/>
			<img src="image/cssvalid.png" class="valid" alt="CSS Valid!"/>
		</footer>
	</body>
</html>
