
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Inserisci Requisiti</title>
		<meta name="title" content="SWEgo - Inserisci Requisiti" />
		<meta name="description" content="Inserisci un nuovo Requisito." />
		<meta name="keywords" content="SWEgo, Requisiti, Inserisci" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.php"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
					<li><a href="contacts.php">CONTATTI</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="viewRequirement.php">REQUISITI</a> &gt; INSERISCI REQUISITI</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Inserisci un nuovo Requisito.</p>
				<p>Le informazioni che dovrai inserire sono la descrizione, l'importanza, il tipo, lo stato di implementazione e la fonte da cui deriva il Requisito.</p>
				:message:
			</div>
			<form name="insert" method="POST" action="insertRequirement.php" id="insert">
				<fieldset form="insert">
					<legend>Inserimento Requisito</legend>
					<label for="description">Descrizione</label>
					<textarea id="description" name="description" required="required" maxlength="1000">:description:</textarea>
					<label for="type">Tipo</label>
					<select id="type" name="type">
						<option value="F" selected="selected">F - Funzionale</option>
						<option value="Q">Q - Di Qualità</option>
						<option value="P">P - Prestazionale</option>
						<option value="V">V - Di Vincolo</option>
					</select>
					<label for="importance">Importanza</label>
					<select id="importance" name="importance">
						<option value="0" selected="selected">0 - Obbligatorio</option>
						<option value="1">1 - Desiderabile</option>
						<option value="2">2 - Opzionale</option>
					</select>
					<label for="satisfied">Stato d'implementazione</label>
					<select id="satisfied" name="satisfied">
						<option value="Non implementato" selected="selected">Non Implementato</option>
						<option value="Implementato">Implementato</option>
					</select>
					<label for="parent">Requisito padre</label>
					<select id="parent" name="parent">
						<option value="NULL" selected="selected">Nessuno</option>
						:requirementoptions:
					</select>
					<label for="sourceForm">Fonti</label>
					<select id="sourceForm" name="source">
						<option value="NULL" selected="selected">Nessuno</option>
						:sourceoptions:
					</select>
					<input type="submit" name="insert" value="INSERISCI" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
		</footer>
	</body>
</html>
