<!DOCTYPE html>
<html>
	<head>
			<meta charset="utf-8" />
			<title>SWEgo - Insert </title>
			<meta name="title" content="SWEgo - Insert" />
			<meta name="description" content="Pagina di inserimento di SWEgo" />
			<meta name="keywords" content="SWEgo, SWE, Software Engineering" />
			<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<link rel="stylesheet" type="text/css" href="css/index.css" media="screen" />
			<link rel="stylesheet" type="text/css" href="css/mobile.css" />
			<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="logout.php">LOGOUT</a></li>
				</ul>
			</nav>
		</header>
		<div>
			<ul style="margin: 4em;">
				<li><a href="insert.php?obj=Usecase">Inserisci Use case</a></li>
				<li><a href="insert.php?obj=Requirement">Inserisci Requisiti</a></li>
				<li><a href="insert.php?obj=Actor">Inserisci Attori</a></li>
				<li><a href="insert.php?obj=Source">Inserisci Fonti</a></li>
			</ul>
		</div>
		<div>
			:form:
		</div>
	</body>
</html>
