
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Inserisci Use Case</title>
		<meta name="title" content="SWEgo - Inserisci Use Case" />
		<meta name="description" content="Inserisci un nuovo Use Case." />
		<meta name="keywords" content="SWEgo, Use Case, Inserisci" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.html"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="insertRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
					<li><a href="contacts.html">CONTATTI</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="viewUsecase.php" lang="en">USE CASE</a> &gt; INSERISCI <span lang="en">USE CASE</span></p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Inserisci un nuovo <span lang="en">Use Case</span>.</p>
				<p>Le informazioni che dovrai inserire sono il nome, la descrizione, il padre, la precondizione e la postcondizione dello <span lang="en">Use Case</span>.</p>
				<p>Dovrai inserire inoltre gli scenari ed eventuali inclusioni e/o estensioni.</p>
				:message:
			</div>
			<form name="insert" method="POST" action="insertUsecase.php" id="insert">
				<fieldset form="insert">
					<legend>Inserimento usecase</legend>
					<label for="name">Nome</label>
					<input id="name" name="name" type="text" value=":name:" required="required" maxlength="200" />
					<label for="description">Descrizione</label>
					<textarea id="description" name="description" required="required" maxlength="1000">:description:</textarea>
					<label for="precondition">Pre-condizione</label>
					<textarea id="precondition" name="precondition" required="required" maxlength="1000">:precondition:</textarea>
					<label for="postcondition">Post-condizione</label>
					<textarea id="postcondition" name="postcondition" required="required" maxlength="1000">:postcondition:</textarea>
					<label for="mainscenario">Scenario principale</label>
					<textarea id="mainscenario" name="mainscenario" required="required" maxlength="1000">:mainscenario:</textarea>
					<label for="alternativescenario">Scenario alternativo</label>
					<textarea id="alternativescenario" name="alternativescenario" maxlength="1000">:alternativescenario:</textarea>
					<label for="parent">Use Case padre</label>
					<select id="parent" name="parent">
						<option value="" selected="selected">Nessuno</option>
						:usecaseoptions:
					</select>
					<label for="generalization">Generalizzazione</label>
					<select id="generalization" name="generalization" required="required" size="2">
						<option value="false" selected="selected">No</option>
						<option value="true">Si</option>
					</select>
					<label for="inclusion">Inclusioni</label>
					<select id="inclusion" name="inclusion[]" multiple="multiple" required="required">
						<option value="NULL" selected="selected">Nessuno</option>
						:usecaseoptions:
					</select>
					<label for="extension">Estensioni</label>
					<select id="extension" name="extension[]" multiple="multiple" required="required">
						<option value="NULL" selected="selected">Nessuno</option>
						:usecaseoptions:
					</select>
					<label for="actor">Attori</label>
					<select id="actor" name="actor[]" multiple="multiple" required="required">
						<option value="NULL" selected="selected">Nessuno</option>
						:actoroptions:
					</select>
					<input type="submit" name="insert" value="INSERISCI" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
		</footer>
	</body>
</html>
