
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Modifica Attore</title>
		<meta name="title" content="SWEgo - Modifica Attore" />
		<meta name="description" content="Modifica un attore del sistema." />
		<meta name="keywords" content="SWEgo, Attori, Sistema, SWE, Modifica" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="script/nav.js"></script>
	</head>
	<body>
		<header>
			<a href="index.html"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li><a href="user.php">PROFILO</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: <a href="insertActor.php">ATTORI</a> &gt; MODIFICA :name:</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>Modifica le informazioni dell'attore selezionato.</p>
			</div>
			<form name="modify" method="POST" action="#" id="insert">
				<fieldset form="insert">
					<legend>Modifica :name:</legend>
					<label for="name">Nome</label>
					<input id="name" name="name" type="text" value=":name:" required="required" maxlength="100" />
					<label for="description">Descrizione</label>
					<textarea id="description" name="description" required="required" maxlength="1000">:description:</textarea>
					<input type="submit" name="modify" value="MODIFICA" />
				</fieldset>
			</form>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
		</footer>
	</body>
</html>
