<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8" />
		<title>SWEgo - Profilo :groupname:</title>
		<meta name="title" content="SWEgo - Profilo" />
		<meta name="description" content="Visualizza il profilo di un utente." />
		<meta name="keywords" content="SWEgo, Utente, Profilo" />
		<meta name="author" content="Luca Bertolini, Marco Bonolo, Mauro Carlin, Nicola Tintorri" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" href="image/favicon.png" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" />
		<link rel="stylesheet" type="text/css" href="css/desktop.css" />
		<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script src="script/nav.js"></script>
		<script src="script/user.js"></script>
	</head>
	<body onLoad="createGraphics({s::s0p:,u::u0p:},{s::s1p:,u::u1p:},{s::s2p:,u::u2p:});">
		<header>
			<a href="index.php"><h1 id="logo" lang="en">SWEgo</h1></a>
			<a id="skipNavbar" href="#breadcrumb">Premi per saltare il menu</a>
			<div id="mobileMenu" class="hideButton">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
				<ul>
					<li><a href="insertSource.php">FONTI</a></li>
					<li><a href="insertActor.php">ATTORI</a></li>
					<li><a href="viewRequirement.php">REQUISITI</a></li>
					<li lang="en"><a href="viewUsecase.php">USE CASE</a></li>
					<li><a href="viewTracking.php">TRACCIAMENTO</a></li>
					<li class="here">PROFILO</li>
					<li><a href="contacts.php">CONTATTI</a></li>
				</ul>
			</nav>
		</header>
		<div id="breadcrumb" class="noSpaceHeader">
			<p>Ti trovi in: PROFILO :groupname:</p>
		</div>
		<div id="content">
			<div id="intro">
				<p>In questa pagina potrai cambiare la tua password, vedere la copertura dei requisiti, generare automaticamente i diagrammi <abbr lang="en" title="Unified Modeling Language">UML</abbr> oppure effettuare il logout.</p>
				:message:
			</div>
			<div id="summary">
				<h2>Riassunto dei tuoi dati</h2>
				<ul>
					<li>Numero di Attori: <span>:nactors:</span></li>
					<li>Numero di Fonti: <span>:nsources:</span></li>
					<li>Numero di <span lang="en">Use Case</span>: <span>:nusecase:</span></li>
					<li>Numero di Requisiti: <span>:nrequirements:</span></li>
					<li>Numero di <span lang="en">Use Case</span> tracciati: <span>:ntrackedusecase:</span></li>
					<li>Numero di Requisiti tracciati: <span>:ntrackedrequirements:</span></li>
				</ul>
			</div>
			<h2 id="operationHeader">Operazioni</h2>
			<div id="changePassword">
				<a href="#operationHeader" class="showMoreInfo">Cambia password</a>
				<form method="post" action="#" id="change_password">
					<fieldset form="change_password">
						<legend>Form per il cambio password</legend>
						<label for="oldPassword">Vecchia password</label>
						<input type="password" name="oldpassword" id="oldPassword" required="required" maxlength="100" />
						<label for="newPassoword">Nuova password</label>
						<input type="password" name="password" id="newPassoword" required="required" maxlength="100" />
						<label for="confirmPassword">Conferma password</label>
						<input type="password" name="confirmpassword" id="confirmPassword" required="required" maxlength="100" />
						<input type="submit" value="CAMBIA" />
					</fieldset>
				</form>
			</div>
			<div id="graphics">
				<a href="#graphics" class="showMoreInfo">Mostra copertura dei requisiti</a>
				<h3>REQUISITI OBBLIGATORI</h3>
				<div id="graphicObb">
					<canvas id="graphObb"></canvas>
					<ul>
						<li>Soddisfatti: :s0p:% (:s0n:)</li>
						<li>Non soddisfatti: :u0p:% (:u0n:)</li>
					</ul>
				</div>
				<h3>REQUISITI DESIDERABILI</h3>
				<div id="graphicDes">
					<canvas id="graphDes"></canvas>
					<ul>
						<li>Soddisfatti: :s1p:% (:s1n:)</li>
						<li>Non soddisfatti: :u1p:% (:u1n:)</li>
					</ul>
				</div>
				<h3>REQUISITI OPZIONALI</h3>
				<div id="graphicOpz">
					<canvas id="graphOpz"></canvas>
					<ul>
						<li>Soddisfatti: :s2p:% (:s2n:)</li>
						<li>Non soddisfatti: :u2p:% (:u2n:)</li>
					</ul>
				</div>
			</div>
			<div id="createUML">
				<a href="#">Genera i diagrammi <abbr lang="en" title="Unified Modeling Language">UML</abbr> con PlantUML</a>
			</div>
			<div id="logout">
				<a href="logout.php">Logout</a>
				<div></div>
			</div>
		</div>
		<footer>
			<span lang="en">SWEgo &copy;</span>
			<a href="mapLogin.html">Mappa del sito</a>
			<img src="image/html5valid.png" class="valid" alt="HTML5 Valid!"/>
			<img src="image/cssvalid.png" class="valid" alt="CSS Valid!"/>
		</footer>
	</body>
</html>
